header{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgb(27, 27, 131);
    color: #fff;
    margin-bottom: 30px;
}

.navbar-nav .nav-link.active{
    color: #fff;
}

.nav-link{
    text-align: center;
    color: #fff;
}

#produtos{
    margin-bottom: 50px;
}

.btn{
    background-color: blue;
    width: 300px;
    margin-top: 30px;
}

.carousel-inner img{
    width: 100%;
    height: 750px;
}

form{
    background-color: rgba(0, 0, 255, 0.123);
}

form .container{
    width: 500px;
    margin-top: 30px;
    padding: 10px;
}

